---
import type { I18NSection, LayoutLangFooter } from '@/types/i18n.type'

type Props = I18NSection<LayoutLangFooter>

const { LANG } = Astro.props
const year = new Date().getFullYear()
---

<footer class="px-6 pb-10 lg:px-0 lg:pb-2">
  <p class="text-text">
    {year} · <span set:html={LANG.DESC} />
  </p>
</footer>
