---
import type { I18NSection, HomeLangExperience } from '@/types/i18n.type'

import SectionLayout from '@/layouts/SectionLayout.astro'

import ExpCard from '@comp/ui/ExpCard.astro'

type Props = I18NSection<HomeLangExperience>

const { LANG } = Astro.props
---

<SectionLayout id={LANG.ID} title={LANG.TITLE}>
  <div class="group/item mx-4 space-y-12">
    {LANG.LIST.map((exp) => <ExpCard {...exp} PILLS={LANG.PILLS} />)}
  </div>
</SectionLayout>
