---
import type { SEOProps as Props } from '@/types/layouts.type'

import { langSelector } from '@/utils/lang-selector'
import { labels } from '@/i18n/layout/config'

import '@fontsource-variable/inter'

import { Image } from 'astro:assets'
import banner from '@/assets/banner.webp'

import Seo from '@comp/SEO.astro'

import Profile from '@comp/layout/Profile.astro'
import Footer from '@comp/layout/Footer.astro'
import ScrollToTopBtn from '@comp/layout/ScrollToTopBtn.astro'

const { currentLocale = 'es' } = Astro
const { PROF, FOOTER } = langSelector({ currentLocale, labels })
---

<!doctype html>
<html lang={currentLocale} class="scroll-smooth" data-theme="system">
  <head>
    <Seo {...Astro.props} />
  </head>
  <body class="mx-auto grid min-h-screen max-w-screen-2xl gap-12 lg:grid-cols-6 xl:gap-24">
    <div class="fixed -bottom-6 -right-6 -z-10 grid size-full">
      <Image
        src={banner}
        fetchpriority="high"
        loading="eager"
        class="z-10 h-full w-full translate-x-12 translate-y-12 place-self-end object-cover opacity-15 blur-sm grayscale md:translate-x-24 md:translate-y-24 lg:w-2/5 lg:translate-x-4 lg:translate-y-4"
        alt=""
      />
    </div>

    <Profile LANG={PROF} />

    <main class="relative grid gap-16 lg:col-span-4 lg:py-16 lg:pe-14">
      <slot />
      <Footer LANG={FOOTER} />
    </main>

    <ScrollToTopBtn />
  </body>
</html>

<style is:global>
  @import url('../assets/css/globals.css');
</style>
